<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% comment %} {%{% extends '../base.html' %}%}
{%block content%} {% endcomment %}
<body> 
    <div class = "magazine-card">
    <h1>{{magazine.title}}</h1>
    {%for issue in magazine.issues.all%}
        <p> Issue {{issue.title}}</p>
    {%endfor%}
    {%for genre in magazine.genres.all%}
        <p>Genre{{genre.name}}</P>
    {%endfor%}  
    <p>{{magazine.release_cycle}}</p>
    <p>{{magazine.description}} </p>
    <p>{{magazine.cover_image}}</p>
    <p><a href = {%url 'show_mags'%}> back to mags </a>
    <p> <a href={% url 'delete_mag' magazine.pk %}> Delete </a></p>
    <p> <a href={% url 'edit_mag' magazine.pk %}> Edit </a></p>
        
</div>
    
</body>
{% comment %} {%endblock%} {% endcomment %}
</html>