<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
    {% comment %} <p> Hello </p> {% endcomment %}
    <h2>Different Magazines in the {{ genre.name }} genre:</h2>
    {% for magazine in genre.magazine.all %}
    <div class="genre-card">
        
        
        <h3><a href={% url 'show_mags' magazine.pk %}> {{ magazine.title }}</a></h3>
    
    {% endfor %}
    </main>
</body>
</html>