<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p><a href = {%url 'create_mag'%}> Creat your magazine </a></p>
    <header>

    </header>
    <main>
        {%for magazine in magazines %}
        <div class = "magazine-card">
            <p><a href={%url 'view_mag' magazine.pk%}>{{magazine.title}} </a> </p>
            <p>{{magazine.release_cycle}}</p>
            <p>{{magazine.description}} </p>
            <p>{{magazine.cover_image}}</p>
            
                
        </div>
    {%endfor%}
    </main>

</body>

</html>