<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <div class="book-card">
        <h1> {{book.title}}</h1>
        <h2>{{book.author}}</h2>
        <p>{{book.pages}}</p>
        <p>{{book.isbn}}</p>
        <p>{{book.description}}</p>
        <p>{{book.published_in}}</p>
        <p>{{book.in_print}}</p>
        <p><a href={% url 'edit_view' book.pk %}> Edit your book </a></p>
        <p><a href={% url 'show_books' %}> Back to books </a></p>
    </div>
    
</body>

</html>