{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>books</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    
  </header>
  <main>
    {%for book in books%}
      <div class="book-card">
        <p><a href={% url 'show_book_details' book.pk %}> {{book.title}} </a> </p>
        <p>{{book.author}}</p>
        <p>{{book.pages}}</p>
        <p>{{book.isbn}}</p>
        <p><a href={% url 'show_book_details' book.pk %}> {{book.description}} </a></p>
        <p>{{book.published_in}} </p>
        <p>{{book.in_print}}</p>
        <p><a href={% url 'edit_view' book.pk %}> Edit your book </a> </p>
        <a href={% url 'delete_book' book.pk %}> Delete </a>
      </div>
    {%endfor%}
  </main>
</body>

</html>
